/* Website template by freewebsitetemplates.com */

body {
	background: #ffb744 url(../images/bg-body.jpg) repeat left bottom;
	font-family: "San Francisco", Calibri, sans-serif;
	margin: 0;
}
#background {
	background: url(../images/bg-apec-school.jpg) repeat-x center top;
	min-height: 1318px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}

/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: 20px;
	padding-top: 20px;
}
/** Logo **/
#logo {
	float: left;
	margin-bottom: 20px;
	margin-left: 49px;
}
/** Navigation **/
#navigation {
	background: url(../images/bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 122px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #E2725B;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #FFFFFF;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}
#contents h1 {
	color: #05020D;
	font: 26px/30px "San Francisco", Calibri, sans-serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}
#contents div.body h1, #contents h2 {
	color: #05020D;
	font: 30px/30px "San Francisco", Calibri, sans-serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}
#contents h2 a {
	color: #05020D;
	text-decoration: none;
}
#contents p {
	color: #05020D;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #05040D;
}
#contents p a:hover, #news div.sidebar ul li a:hover {
	color: #917157;
}
/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}
#contents div.box > div {
	background-position: -1745px top;
	padding: 6px 0 0;
}
#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 30px 40px 0;
}

/*------------------------------ ADBOX ADS ------------------------------*/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat left top;
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}
#adbox p {
	font-size: 16px;
}
.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}


hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}

/*------------------------------ MAIN ------------------------------*/
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}
#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}
#main div.box > div {
	background-position: -1145px top;
	padding: 6px 0 0;
}
#main div.box > div > div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}
#main div.box h3 {
	color: #316e66;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9c8964;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}
#main div.box h4 {
	font: 22px/24px "San Francisco", Calibri, sans-serif;
	font-weight: normal;
	margin: 6px 0 0;
}
#main div.box h4 a {
	color: #05020D;
	text-decoration: none;
}
#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main div.box ul li {
	border-bottom: 1px dotted #9c8964;
}
#main div.box ul li span {
	color: #05020D;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}
#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}
/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 285px;
}
#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}
#sidebar div.section:first-child {
	padding: 3px 0 0;
}
#sidebar div.section > a:hover {
	filter:alpha(opacity=60);
	opacity: 0.6;
}


/*------------------------------ SOLUTION ------------------------------*/
#rooms, #foods, #sites {
	list-style: none;
	margin: 0;
	padding: 0;
}
#rooms li, #foods li, #sites li {
	display: inline-block;
	width: 784px;
	border-top: 1px solid #b7b7b7;
	padding: 30px 0;
	position: relative;
}
#rooms li:first-child, #foods li:first-child, #sites li:first-child {
	border-top: 0;
}
#rooms li img {
	float: left;
	border: 1px solid #2c9688;
	margin-right: 15px;
}
#rooms .rate {
	color: #316e66;
	display: inline-block;
	font: 16px/35px "San Francisco", Calibri, sans-serif;
	height: 35px;
	width: 138px;
	border: 1px solid #5a4535;
	text-align: center;
	position: absolute;
	bottom: 30px;
}
/** Food **/
#foods li > div.infos {
	height: 169px;
	width: 780px;
	position: relative;
}
#foods li > div.infos p {
	background: url(../images/bg-foodDetails.png) repeat;
	color: #316e66;
	display: none;
	height: 60px;
	width: 740px;
	padding: 6px 20px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
#foods li > div.infos p span {
	display: block;
	font: 22px/22px "San Francisco", Calibri, sans-serif;
}
#foods li > div.infos:hover span.cover {
	background: url(../images/bg-foodInfos.png) repeat;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#foods li > div.infos:hover p {
	display: block;
}
/** Dive Site **/
#sites li {
	padding-bottom: 0;
}
#sites li img {
	float: right;
	border: 1px solid #2c9688;
	margin-left: 15px;
}

/*------------------------------ MODEL ------------------------------*/
#model {
	display: inline-block;
	width: 784px;
}
#news > div {
	width: 560px;
	border-right: 1px solid #bbbbbb;
	padding-right: 35px;
}
#model > div img {
	border: 0px;
	margin-bottom: 20px;
}
#model > div h2 {
	margin-bottom: 12px;
}
#model > div span {
	color: #05020D;
	display: block;
	font: 15px/24px "San Francisco", Calibri, sans-serif;
	margin-bottom: 30px;
}
#model > div span.author {
	color: #05020D;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
}
#news div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}
#model div.sidebar h3 {
	color: #05020D;
	font-size: 20px;
	font-weight: normal;
	border-top: 1px solid #b7b7b7;
	margin: 0 0 12px;
	padding-top: 18px;
	text-transform: uppercase;
}
#model div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}
#news div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}
#news div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}

#model ul li {
	margin-bottom: 12px;
}

#model form table {
	border-collapse: collapse;
}

#model table, #model th, #model td {
  border: 1px solid black;
}

}
#model form table td {
	padding-bottom: 6px;
}
#news table td:first-child {
	font-size: 14px;
	line-height: 30px;
	width: 180px;
	text-transform: uppercase;
}
#news table td.txtarea {
	vertical-align: top;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}
#footer > div {
	background-color: #808080;
	height: 48px;
	width: 822px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: #eee7c3;
}
#footer ul.navigation li.active a {
	color: #ffffff;
}
#footer p {
	color:floralwhite;
	margin: 0;
	text-align: center;
	text-transform: none;
}

